[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
discord = "*"
google = "*"
pymongo = "*"
requests = "*"
tabulate = "*"
humanize = "*"
pytz = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"


